<style type="text/css">
	body {
		background-color: #f0f0f0;
	}

	.tg {
		border-collapse: collapse;
		border-color: #ccc;
		border-spacing: 0;
		width: 100%;
	}

	.tg td {
		background-color: #fff;
		border-color: #ccc;
		border-style: solid;
		border-width: 1px;
		color: #333;
		font-family: Arial, sans-serif;
		font-size: 14px;
		overflow: hidden;
		padding: 10px 5px;
		word-break: normal;
	}

	.tg th {
		background-color: #f0f0f0;
		border-color: #ccc;
		border-style: solid;
		border-width: 1px;
		color: #333;
		font-family: Arial, sans-serif;
		font-size: 14px;
		font-weight: normal;
		overflow: hidden;
		padding: 10px 5px;
		word-break: normal;
	}

	.tg .tg-zuha {
		border-color: inherit;
		color: #330001;
		font-weight: bold;
		text-align: left;
		vertical-align: top
	}

	.tg .tg-0wif {
		border-color: #010066;
		color: #330001;
		font-weight: bold;
		text-align: left;
		vertical-align: top
	}

	.tg .tg-btxf {
		background-color: #f9f9f9;
		border-color: inherit;
		text-align: left;
		vertical-align: top
	}

	.input-xs {
		border: #010066 1px solid;
		height: 35px;
	}
</style>

<div class="row">

	<div class="col-xs-12 col-sm-2 ">
		<div>Almacen: </div>
		<div class="div_almacen"> </div>
	</div>
	<div class="col-xs-12 col-sm-4 ">
		Cliente:
		<div class="div_cliente"> </div>
	</div>
	<div class="col-xs-12 col-sm-3 ">
		Lista de Precios:
		<div class="div_listaPrecios"> </div>
	</div>
	<div class="col-xs-12 col-sm-2 ">
		Es factura Electrónica :
		<div class="div_factura_elec"> </div>
	</div>
</div>


<div class="row">

	<div class="col-xs-12 col-sm-6 ">
		<table  style="width: 100%;">
			<tr>
				<td> Producto:
					<div class="div_lector"> </div>
				</td>
				<td style="width: 70px;">Cantidad:
					<div class="div_cantidad"> </div>
				</td>
				<td> <button onclick="agregar_linea()"  style="margin-top: 20px;" class="btn-sm"> Agregar </button></td>
			</tr>
		</table>

	</div>


	

	<div class="col-xs-12 col-sm-3 ">
		<div class="div_guardar"> </div>
	</div>
</div>


<hr/>
<h3> Lista de Porductos: </h3>
<div class="row">

	<div class="col-12">

		<table class="tg">
			<thead>
				<tr>
					<th class="tg-zuha"> #</th>
					 
					<th class="tg-zuha">Producto</th>
					<th class="tg-zuha">Cantidad</th>
					<th class="tg-zuha">Precio</th>
					<th class="tg-zuha">%Descuento</th>
					<th class="tg-zuha">Descuento</th>
					<th class="tg-0wif">Total</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="tg-7d57">  <i onclick="eliminar_linea() " style="font-size: 30px; cursor:pointer " class="fa fa-trash"></i>  </td>
					 
					<td class="tg-7d57"></td>
					<td class="tg-7d57"></td>
					<td class="tg-7d57"></td>
					<td class="tg-7d57"></td>
					<td class="tg-7d57"></td>
					<td class="tg-7d57"></td>
				</tr>
			</tbody>
		</table>
	</div>

</div>