{% extends "templates/web.html" %}
 {% block title %}{{ _("About Us") }}{% endblock %}
{% block page_content %}
<h1> Productos </h1>
 
<div class="row">
	<div class="col-md-12">
		<div class="col-sm-6 col-md-4">
			<div class="thumbnail" >
				<h4 class="text-center"><span class="label label-info">Samsung</span></h4>
				<img src="http://placehold.it/650x450&text=Galaxy S5" class="img-responsive">
				<div class="caption">
					<div class="row">
						<div class="col-md-6 col-xs-6">
							<h3>Galaxy S5</h3>
						</div>
						<div class="col-md-6 col-xs-6 price">
							<h3>
							<label>$649.99</label></h3>
						</div>
					</div>
					<p>32GB, 2GB Ram, 1080HD, 5.1 inches, Android</p>
					<div class="row">
			
						<div class="col-md-6">
							<a href="#" class="btn btn-success btn-product"><span class="glyphicon glyphicon-shopping-cart"></span> Buy</a></div>
					</div>

					<p> </p>
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-md-4">
			<div class="thumbnail" >
				<h4 class="text-center"><span class="label label-info">Apple</span></h4>
				<img src="http://placehold.it/650x450&text=iPhone 6" class="img-responsive">
				<div class="caption">
					<div class="row">
						<div class="col-md-6 col-xs-6">
							<h3>iPhone 6</h3>
						</div>
						<div class="col-md-6 col-xs-6 price">
							<h3>
							<label>$749.99</label></h3>
						</div>
					</div>
					<p>32GB, 64Bit, 1080HD, 4.7 inches, iOS 8</p>
					<div class="row">
				
						<div class="col-md-6">
							<a href="#" class="btn btn-success btn-product"><span class="glyphicon glyphicon-shopping-cart"></span> Buy</a></div>
					</div>

					<p> </p>
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-md-4">
			<div class="thumbnail" >
				<h4 class="text-center"><span class="label label-info">Nokia</span></h4>
				<img src="http://placehold.it/650x450&text=Lumia 1520" class="img-responsive">
				<div class="caption">
					<div class="row">
						<div class="col-md-6 col-xs-6">
							<h3>Lumia 1520</h3>
						</div>
						<div class="col-md-6 col-xs-6 price">
							<h3>
							<label>$749.00</label></h3>
						</div>
					</div>
					<p>32GB, 4GB Ram, 1080HD, 6.3 inches, WP 8</p>
					<div class="row">
					 
						<div class="col-md-6">
							<a href="#" class="btn btn-success btn-product"><span class="glyphicon glyphicon-shopping-cart"></span> Buy</a></div>
					</div>

					<p> </p>
				</div>
			</div>
		</div>
		
	</div> 

</div>
{% endblock %}

{% block style %}
<style>
	.hero {
		padding-top: 50px;
		padding-bottom: 100px;
	}

	.hero h1 {
		font-size: 40px;
		font-weight: 200;
	}

	.home-login {
		margin-top: 30px;
	}
	.btn-login {
		width: 80px;
	}

	.featured-product-heading, .all-products {
		 text-transform: uppercase;
		 letter-spacing: 0.5px;
		 font-size: 12px;
		 font-weight: 500;
	}

	.all-products {
		 font-weight: 300;
		 padding-left: 25px;
		 padding-right: 25px;
		 padding-top: 10px;
		 padding-bottom: 10px;
	}
	.btn-product{
	width: 100%;
}


</style>
{% endblock %}
