<link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400" rel="stylesheet" type="text/css">
<!-- CSS Code: Place this code in the document's head (between the 'head' tags) -->
<style>
    table.GeneratedTable {
    
      background-color: #ffffff;
      border-collapse: collapse;
      border-width: 1px;
      border-color: #eeff00;
      border-style: solid;
      color: #000000;
    }
    
    table.GeneratedTable td, table.GeneratedTable th {
      border-width: 1px;
      border-color: #eeff00;
      border-style: solid;
      padding: 3px;
    }
    
    table.GeneratedTable thead {
      background-color: #F2F19B;
    }
    </style>
    
  <div class="row">
   <div class="col-12">
   <div class="alert alert-danger" role="alert">
 En esta página se realizan los pagos de las cuotas, de ventas realizadas a crédito
</div>
   </div>      
  </div>
    
    
<div class="row">
    <div class="col-6">      

        <table style="width: 100%">            
            <tr>
                <td>
                    <p class="colortexto"> Seleccione el Cliente</p>
                    <p class="entidad"   style=" max-width: 500px; margin-bottom: 20px;"></p>
                </td>
            </tr>
        </table>
    </div>   
    <div class="col-3">  
       <table>
        <tr>
          <td>
VALOR A PAGAR:  <input  onchange="calcularAsigancionCuotas()" type="number" id="txtPagar" style" width:50px !important"     min="0" />
          </td>
        </tr>
        <tr>
          <td>
            <div style="font-size: 30px; color:blue; " id="lbl_apagar"> </div>
          </td>
        </tr>
      </table>
  
    </div>    
    <div class="col-3">  
        <button class="btn btn-light btn-view-more mr-2 mt-4 mb-4 w-30"
      onclick="abonar_2()"  >
      Abonar en Efectivo
    </button>
    </div>    
</div>
<div class="row">
  <div class="col-12">      

    <div class="divResultadosaldo"> </div>
  </div>   
</div>
<div class="row">
    <div class="col-12">      

      <div class="divResultado"> </div>
    </div>   
</div>
 