<link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400" rel="stylesheet" type="text/css">
<!-- CSS Code: Place this code in the document's head (between the 'head' tags) -->
<style>
    table.GeneratedTable {    
      background-color: #ffffff;
      border-collapse: collapse;
      border-width: 1px;
      border-color: #eeff00;
      border-style: solid;
      color: #000000;
    }
    
    table.GeneratedTable td, table.GeneratedTable th {
      border-width: 1px;
      border-color: #eeff00;
      border-style: solid;
      padding: 3px;
    }
    
    table.GeneratedTable thead {
      background-color: #ffcc00;
    }
    </style>
    
  
    
    
<div class="row">
    <div class="col-6">      

        <table style="width: 100%">            
            <tr>
                <td>
                    <p class="colortexto"> Seleccione el Cliente</p>
                    <p class="entidad" style="  max-width: 500px; margin-bottom: 20px;"></p>
                </td>
            </tr>
        </table>
    </div>   
   
</div>
<div class="row">
  <div class="col-12">      

    <div class="divResultadosaldo"> </div>
  </div>   
</div>
<div class="row">
    <div class="col-12">      

      <div class="divResultado"> </div>
    </div>   
</div>
 