.multi-button {
  filter: drop-shadow(3px 10px 15px rgba(0, 0, 0, 0.45));
  padding-left:5px;
  padding-bottom:5px;
  padding-top:0px
}
.multi-button button{
  height: 25px;
  width: 60px;
  background: linear-gradient(to bottom, #274b82, #444bff);
  font-weight: bold;
  color: white;
  font-size: 1.2rem;
  border: none;
  margin: -5px; 
  padding: 0;
  stroke: black;
  outline: none;
}
.multi-button :nth-child(1){
  border-radius: 20px 0 0 20px;
}
.multi-button :nth-child(2){
  border-radius: 0 20px 20px 0;
}
button:hover{
  cursor: pointer;
  filter: drop-shadow(3px 5px 5px rgba(0, 0, 0, 0.45));
}
button:active{
  filter: none;
  transform: scale(.95);
}